<h1>Stories#new</h1>
<%= simple_form_for [@business, @story] do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :published %>
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
  <%= f.submit "Create!" %>
<% end %>
